/* .hourly-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 2rem;
  column-gap: 1.2rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-bottom: 3.6rem;
} */

/* .date-and-unitswitch-container {
  display: grid;
  grid-gap: 16px;
  padding: 16px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(160px, 1fr);
  overflow-x: auto;
} */


/* .metric-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin-bottom: 3.6rem;
  }

  .card-img {
    width: 35%;
  } */

/* .hourly-container {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  } */

/* .hourly-container {
    display: grid;
    grid-auto-columns: max-content;
    grid-template-rows: 1fr;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  } */


/* .hourly-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 16px;
    padding: 16px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(160px, 1fr);
    overflow-x: auto;
  } */

.hourly-container {
  /* display: grid; */
  /* grid-template-columns: repeat(7, 1fr); */
  /* row-gap: 2rem; */
  /* column-gap: 1.2rem; */
  justify-items: start;
  /* align-items: start; */
  /* text-align: center; */
  /* padding-bottom: 3.6rem; */
}

.hourly-container {
  display: grid;
  column-gap: 3rem;
  /* padding: 16px; */
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */

  grid-template-columns: repeat(8, 1fr);
  grid-auto-flow: column;
  /* overflow-x: auto; */
  overflow-x: scroll;
  width: 50rem;
  /* -webkit-overflow-scrolling: touch; */

  /* grid-auto-columns: calc(100% - 50rem); */
  /* grid-auto-columns: 170px; */

  /* grid-auto-columns: minmax(150px, 1fr); */
}


.hourly-container {
  display: grid;
  column-gap: 3rem;
  /* padding: 16px; */
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */

  grid-template-columns: repeat(8, 1fr);
  /* grid-template-columns: none; */
  grid-auto-flow: column;
  /* overflow-x: auto; */
  overflow-x: scroll;
  width: 50rem;
  /* -webkit-overflow-scrolling: touch; */

  /* grid-auto-columns: calc(100% - 80rem); */
  /* grid-auto-columns: 170px; */

  /* grid-auto-columns: minmax(150px, 1fr); */
}

.hourly-container {
  /* display: grid; */
  margin: 0 auto;
  max-width: 85vw;
  grid-template-columns: none;
  grid-auto-flow: column;
  column-gap: 3rem;
  overflow-x: scroll;
  /* overflow-x: auto; */
  -webkit-overflow-scrolling: touch;
}

/* .hourly-container {
    justify-items: start;
    justify-items: center;
    align-items: center;
  } */

.five-day-forecast-container {
  margin: 0 auto;
  max-width: 85vw;
  grid-template-columns: none;
  grid-auto-flow: column;
  column-gap: 3rem;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}