* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  /* 16px*0.625 = 10px */
  /* we do this to respect browser's font size-setting that user choise for themselves, 1rem will be equal to 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  /* color: #000; */
  color: #212529;
  /* line-height: 1.2; */
  line-height: 1;

  background: rgb(212, 224, 251);
  background: linear-gradient(to right, rgba(212, 224, 251, 1) 0%, rgba(245, 247, 252, 1) 100%);
  background: linear-gradient(to right, rgba(212, 224, 251, 1) 0%, rgba(245, 247, 252, 1) 100%);
  background: linear-gradient(to right, rgba(212, 224, 251, 1) 0%, rgba(245, 247, 252, 1) 100%);
  background: linear-gradient(to right, rgba(212, 224, 251, 1) 0%, rgba(245, 247, 252, 1) 100%);
  background: -webkit-linear-gradient(to right, rgba(212, 224, 251, 1) 0%, rgba(245, 247, 252, 1) 100%);
  background: -moz-linear-gradient(to right, rgba(212, 224, 251, 1) 0%, rgba(245, 247, 252, 1) 100%);
  background: -o-linear-gradient(to right, rgba(212, 224, 251, 1) 0%, rgba(245, 247, 252, 1) 100%);

  /* background-color does not overwrite background selector */
  background-color: #fff
}

h1 {
  font-size: 3.0rem;
  color: #1864ab;
  /* margin: 0rem 30rem; */
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.8px;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 1.4rem;
  color: #1864ab;
  /* font-family: sans-serif; */
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: -0.2px;
}

h4 {
  font-weight: 600;
  font-size: 1.5rem;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(51, 155, 240, 0.5);
}