.err-container {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  background-color: #eb4d4b;
  color: #fff;
  display: none;
}

.err-message {
  font-size: 1.8rem;

  /* keep text in 1 line */
  white-space: nowrap;
}

.err-container-active {
  /* use flex if you want to add close button to err-container */
  /* display: inline-flex; */
  display: block;
}

.input-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 7.4rem;
  margin-bottom: 2.4rem;
}

.search-container {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 0.5rem;
  row-gap: 0rem;
  cursor: pointer;

}

.location-button {
  width: 5.2rem;
  padding: 0.3rem;
  border-radius: 10px;
  cursor: pointer;


  border: none;
  background-color: #adb5bd;

  transition: background-color 300ms ease-out;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.location-button:hover {
  background-color: #bdc4ca;
}

.location-button-active {
  background-color: #74c0fc;
}

.location-button.location-button-active {
  transition: none;
  cursor: default;
}

.location-button-active:hover {
  background-color: #74c0fc;
}

.search {
  width: 100%;
  padding: 1.0rem 3.6rem;

  font-size: 1.8rem;
  font-family: inherit;
  color: #303030;
  border: none;
  background-color: #ffff;

  border-radius: 10px;

  background-image: url('src/img/icons/searchGoogle.svg');
  background-repeat: no-repeat;
  background-position: left center;
  border: 1px solid rgba(72, 72, 74, .33);

  background-size: 3.4rem;

  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.search-results-location {
  position: relative;
}

.search-results-container {
  position: absolute;
  /* if not top, then it's div is going to be placed in current position */

  top: -9px;
  background-color: #fff;
  list-style-type: none;
  border: 1px solid rgba(72, 72, 74, .33);

  width: 100%;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.5rem;

  overflow: hidden;

  z-index: 9999;
}

.hide {
  /* 1) Hide it visually */
  opacity: 0;
  /* 2) make it unaccessible to mouse and keyboard */
  pointer-events: none;
  /* 3) Hide it from screen readers */
  visibility: hidden;
}

.search-result-card {
  padding: 1.2rem 1rem;

  cursor: pointer;
}

.search-result-card:hover {
  /* background-color: #eee; */
  background-color: hsla(0, 0%, 94.9%, .5);
}

.search-result-geolocation {
  font-size: 1rem;
}

.container {
  display: grid;
  row-gap: 9.6rem;
  grid-template-columns: 1.5fr 3fr;
  margin: 0 30rem;

  margin-bottom: 4rem;

  /* border-collapse: separate; */
  border-radius: 25px;
  overflow: hidden;
  /* box-shadow: 0 1px 2px rgb(0 0 0 / 10%); */
  box-shadow: 0 8px 32px 0 rgb(83 89 179 / 37%);
}

.loading-background {
  /* background: #fff; */
  /* opacity: 0.35; */
  position: relative;

  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.loading-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
}

.left-col {
  background-color: #fff;
  text-align: center;
  padding: 4.8rem;

}

.city-name {
  font-size: 3.0rem;
  margin-bottom: 0.1rem;
}

.country-name {
  font-size: 3.6rem;
  margin-bottom: 1.4rem;
}

.weather-description {
  font-size: 2.4rem;
  margin-bottom: 0.2rem;
}

.icon {
  width: 100%;
}

.temp-container {
  display: grid;
  grid-template-columns: max-content max-content;
  row-gap: 0;
  column-gap: 0;

  justify-content: center;
  /* margin-bottom: 3.6rem; */
}

.high-low-container {
  margin-top: 1.2rem;
}

.temp-high {
  margin-bottom: 0.2rem;
}

.temp-high,
.temp-low {
  font-size: 1.4rem;
}

.temp {
  font-size: 8.6rem;
  text-align: right;
}

.feels-like {
  font-size: 1.6rem;
  font-weight: 700;
}

.right-col {
  background-color: #F7F7F7;
  padding: 0 3rem;
}

.date-and-unitswitch-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* justify-items: center; */
  row-gap: 2rem;
  column-gap: 2rem;

  margin-top: 4.8rem;
  margin-bottom: 2rem;
}

.date {
  font-size: 2.4rem;
  justify-self: left;
}

.switch-field {
  overflow: hidden;
  justify-self: right;
}

/* Hide radio button circles */
.switch-field input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.switch-field label {
  font-size: 1.6rem;
  font-family: inherit;
  transition: background-color 300ms ease-out;
}

.switch-field label:not(:last-child) {
  margin-right: 1.6rem;
}

.switch-field label:hover {
  cursor: pointer;
}

/* 1st label that is selected after checked input */
.switch-field input:checked+label {
  color: #008000;
}

.metric-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  margin-bottom: 3.6rem;
}

.metric-card {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  background-color: #fff;
  border-radius: 8px;
  text-align: right;
  padding: 2rem 0;
  padding-right: 2rem;
  padding-left: 1rem;

  align-items: center;
}

.card-img {
  width: 100%;
}

.card-title {
  font-size: 1.6rem;
}

.metric-value {
  font-size: 3.2rem;
}

.unit {
  font-size: 1.6rem;
}

/* HOURLY CONTAINER */
.hourly-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 2rem;
  column-gap: 1.2rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-bottom: 3.6rem;
}

.five-day-forecast-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  row-gap: 2rem;
  column-gap: 3rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  /* padding-bottom: 4.4rem; */
  padding-bottom: 3.6rem;
}

.hourly-time,
.five-day-forecast-day {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.hourly-img,
.five-day-forecast-img {
  width: 50%;
  margin-bottom: 1rem;

}

.hourly-temp,
.five-day-forecast-temp {
  font-size: 1.4rem;
}

h1 {
  font-size: 3.0rem;
  color: #1864ab;
  /* margin: 0rem 30rem; */
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1.4px;
}

h2 {
  font-size: 1.4rem;
  color: #1864ab;
  /* font-family: sans-serif; */
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: -0.7px;
}